recursive-include FlOpEDT/**/static *
recursive-include FlOpEDT/**/locale *
recursive-include FlOpEDT/**/templates *
recursive-include FlOpEDT/TTapp/onLaunch *.json
recursive-include FlOpEDT/TTapp/TTConstraints *.md
recursive-include FlOpEDT/TTapp/TTConstraints/doc *.png
recursive-include FlOpEDT/configuration/xls *
recursive-include FlOpEDT/misc *.json

global-exclude FlOpEDT/settings/local.py
global-exclude FlOpEDT/settings/local_ci.py
global-exclude FlOpEDT/settings/remote.py
global-exclude FlOpEDT/settings/development.py
