matplotlib
Django==3.1
django_redis
django-import-export
django-extensions
django-colorfield
PuLP
psycopg2-binary
requests
numpy
pyclustering
asgiref~=3.2.10
daphne
channels-redis
channels
python-memcached
isoweek
django-ical
ipython
openpyxl
djangorestframework
djangorestframework-csv
django-rest-auth
django-rest-swagger
Markdown
django-debug-toolbar
zeep
tdqm
django-debug-toolbar-request-history
django-filter
drf-yasg
django-cors-headers
pyprof2calltree
django-crontab
python-dateutil
