[MASTER]
load-plugins=pylint_django
django-settings-module=FlOpEDT.settings.base
ignore=migrations
disable=
    C0114, #(missing-module-docstring)
    C0115, #(missing-class-docstring)
    C0116, #(missing-function-docstring)
    R0903, #(too-few-public-methods)
