{% extends "base.html" %}

{% block title %} EDT {% endblock %}
{% block content %}
    {% load static %}
    {% load i18n %}
    <link rel="stylesheet" href="{% static 'configuration/style.css' %}"/>
    <script>
        let departments = {{ departments|safe }};
        let training_periods = {{ training_periods|safe }};
        let scheduling_periods = {{ scheduling_periods|safe }};
        let current_year = {{ current_year }};
        let next_year = {{current_year|add:"1"}};
    </script>
    <script type="text/javascript" src="{% static 'configuration/configuration_vars.js' %}"></script>
    <h1>{% trans "Step 1 - Database configuration (teachers, groups, rooms, course types, etc.)" %}</h1>
    <h2>{% trans "Option A: Using a spreadsheet file" %}</h2>
    <div class="step">
        <h3>{% trans "Configuration file canvas" %}</h3>
        <p>{% trans "Download and then complete the file below." %}</p>
            {% trans "Click to download the empty configuration file" %}
            <a href="{% url "configuration:dl_config" %}"><button id="btn_config_1">{% trans "Download"%}</button></a>
        <br/>
        <br/>
        {% trans "Click to make and download a new fullfilled database file" %}
        {% trans " (it may last several minuts)." %}
        <form action="{% url 'configuration:mk_and_dl_fullfilled_database_file' %}">
        <select name="department"  id="dropdown_dpt_1">
            {% for depart in departments %}
                <option value={{ depart.abbrev }} >{{ depart.name }}</option>
            {% endfor %}
        </select>
        <input id="btn_dl_database_file" type="submit" value={% trans "Make_and_download" %}>
        </form>
    </div>

    <div class="step">
        <h3>{% trans "Configuration file completed" %}</h3>
        <p>{% trans "Upload the completed configuration file." %}<br>
        {% trans "Only xlsx format is accepted."%}</p>
        <form action="{% url "configuration:ul_config" %}" method="post" enctype="multipart/form-data" id="config">
                {% csrf_token %}
            <fieldset>
                <label>{% trans "Department" %}</label><br>
                <input type="radio" name="radio_creations" value="1" required><span>{% trans "Create" %}</span>
                <input type="radio" name="radio_creations" value="2" required><span>{% trans "Edit" %}</span><br>
                <div id="depart_choice"></div>
                {{ form_config }}
                <input type="submit" value={% trans "Import" %}>
            </fieldset>
        </form>

        <div id="error_config">
          <h4>{% trans "Verdict :"%}</h4>
          <p></p>
        </div>
    </div>
    <h2>{% trans "Option B: With Flopeditor" %}</h2>
    <div class="step">
      <p><a href="{% url 'flopeditor:flopeditor-home' %}">{% trans "Click here" %}</a> {% trans " to go to Flopeditor."%} <br>
      {% trans "If you need help, you can consult the Flopeditor documentation on " %} <a href="{% url 'flopeditor:flopeditor-help' %}">{% trans "this page." %}</a>.</p>
    </div>

    <h1>{% trans "Step 2 - Plan the lessons (which lesson in which week, which teacher gives which lesson)" %}</h1>
    <div class="step">
    <h3>{% trans "Template for the planning file from the configuration file" %}</h3>
        {% trans "Click to download the current planning file outline" %}
        <form action="{% url 'configuration:dl_planif' %}">
        <select name="departments"  id="dropdown_dpt_2">
            {% for depart in departments %}
                <option value={{ depart.abbrev }} >{{ depart.name }}</option>
            {% endfor %}
        </select>
        <input id="btn_dl_planif" type="submit" value={% trans "Download" %}>
        </form>
        <br/>
        {% trans "Click to make and download a new blank planning file outline" %}
        {% trans " (it may last several minuts)." %}
        <form action="{% url 'configuration:mk_and_dl_blank_planif' %}">
        <select name="departments"  id="dropdown_dpt_3">
            {% for depart in departments %}
                <option value={{ depart.abbrev }} >{{ depart.name }}</option>
            {% endfor %}
        </select>
        <input id="btn_dl_planif" type="submit" value={% trans "Make_and_download" %}>
        </form>
        <br/>
        {% trans "Click to make and download a new fullfilled planning file outline" %}
        {% trans " (it may last several minuts)." %}
        <form action="{% url 'configuration:mk_and_dl_fullfilled_planif' %}">
        <select name="departments"  id="dropdown_dpt_4">
            {% for depart in departments %}
                <option value={{ depart.abbrev }} >{{ depart.name }}</option>
            {% endfor %}
        </select>
        <input id="btn_dl_planif" type="submit" value={% trans "Make_and_download" %}>
        </form>

    </div>

    <div class="step">
<!--        <form action="/configuration/import_planif_file/" method="post" enctype="multipart/form-data" id="config_2">-->
        <fieldset>
            <legend> <h3>{% trans "Completed planning file" %}</h3> </legend>
            <p>{% trans "Upload the completed planning file." %} ({% trans "Only xlsx format is accepted." %})</p>
            <form action="{% url "configuration:ul_planif" %}"
                  method="post"
                  enctype="multipart/form-data"
                  id="planif">
                {% csrf_token %}
                <select name="departments" id="dropdown_dpt_5">
                    {% for depart in departments %}
                        <option value={{ depart.abbrev }} >{{ depart.name }}</option>
                    {% endfor %}
                </select>
                </br></br>
                {{ form_planif }}
                </br>
                </br>
                    <div id="choose_training_periods">
                        <input type="checkbox" id="choose_training_periods" name="choose_training_periods"/>
                            <label for="choose_training_periods">{% trans "Only for training periods " %}
                                <select multiple name="training_periods" id="dropdown_training_periods"> </select>
                            </label>
                    </div>
                </br>
                </br>
                <div id="choose_scheduling_periods">
                    <input type="checkbox" id="choose_scheduling_periods" name="choose_scheduling_periods"/>
                        <label for="choose_scheduling_periods">{% trans "Only for scheduling periods " %}
                            <select multiple name="scheduling_periods" id="dropdown_scheduling_periods"> </select>
                        </label>
                </div>
                </br>
                <input type="checkbox" id="stabilize" name="stabilize"/>
                <label for="stabilize">{% trans "Stabilization ?" %}</label>
                </br></br>
                <input type="checkbox" id="assign_colors" name="assign_colors"/>
                <label for="assign_colors">{% trans "(Re)assign colors ?" %}</label>
                </br></br>
                <input type="submit"
                       id="submitImport"
                       onclick="return confirm(
                           confirm_text.intro + '\n\n' +
                           translated_department + confirm_text.department + '\n' +
                           translated_training_periods + confirm_text.training_periods + '\n' +
                           translated_weeks + confirm_text.weeks)"
                       value={% trans "Import" %}>
            </form>
        </fieldset>
        <div id="error_planif">
          <h4>{% trans "Verdict :" %}</h4>
          <p></p>
        </div>
    </div>

<script type="text/javascript" src="{% static 'configuration/configuration.js' %}"></script>
{% endblock %}
